n8n-lead-enrichment-workflow-FIXED.json
{
  "name": "Lead Enrichment Pipeline",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "lead-enrichment",
        "httpMethod": "POST",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [256, 304],
      "webhookId": "lead-enrichment",
      "id": "6c51fb94-3027-4bee-bb1c-921036f8b031"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "jobId",
              "value": "={{ $json.body.jobId }}"
            },
            {
              "name": "source",
              "value": "={{ $json.body.source }}"
            },
            {
              "name": "data",
              "value": "={{ $json.body.data }}"
            },
            {
              "name": "apiKeys",
              "value": "={{ JSON.stringify($json.body.apiKeys) }}"
            },
            {
              "name": "email",
              "value": "={{ $json.body.email || '' }}"
            },
            {
              "name": "useFreeCredit",
              "value": "={{ $json.body.useFreeCredit }}"
            },
            {
              "name": "progressUrl",
              "value": "https://n8n-steel-seven.vercel.app/api/enrich/progress"
            },
            {
              "name": "completeUrl",
              "value": "https://n8n-steel-seven.vercel.app/api/enrich/complete"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [480, 304],
      "id": "853eb947-4948-42aa-af76-37d4146a0517"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.source }}",
              "value2": "apollo_url"
            }
          ]
        }
      },
      "name": "IF Source Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [704, 304],
      "id": "949e1e04-265b-43ea-92d1-df88612fe39d"
    },
    {
      "parameters": {
        "functionCode": "// Access data from the previous node correctly\nconst inputData = $input.item.json;\n\n// The data field should exist from Set Variables\nconst data = inputData.data;\nlet linkedInUrls = [];\n\nif (typeof data === 'string') {\n  try {\n    // Try parsing as JSON array first\n    linkedInUrls = JSON.parse(data);\n  } catch {\n    // If not JSON, split by newlines or commas\n    linkedInUrls = data.split(/[\\n,]+/).map(url => url.trim()).filter(Boolean);\n  }\n} else if (Array.isArray(data)) {\n  linkedInUrls = data;\n} else {\n  // If data is something else, try to convert to string\n  linkedInUrls = [String(data)].filter(Boolean);\n}\n\n// Parse apiKeys if it's a string\nlet apiKeysObj = inputData.apiKeys;\nif (typeof apiKeysObj === 'string') {\n  try {\n    apiKeysObj = JSON.parse(apiKeysObj);\n  } catch (e) {\n    console.error('Failed to parse apiKeys:', e);\n  }\n}\n\nreturn [{\n  json: {\n    linkedInUrls,\n    totalUrls: linkedInUrls.length,\n    jobId: inputData.jobId,\n    apiKeys: apiKeysObj,\n    progressUrl: inputData.progressUrl,\n    completeUrl: inputData.completeUrl\n  }\n}];"
      },
      "name": "Parse LinkedIn URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [928, 304],
      "id": "9122fdac-7d9e-4b8c-ade3-f747da33cc9a"
    },
    {
      "parameters": {
        "mode": "combine"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [1152, 304],
      "id": "5cd24fc0-691e-40b5-9a1e-989a6d3d3666"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [1376, 304],
      "id": "04d74249-af25-46c3-b307-4819ee236196"
    },
    {
      "parameters": {
        "functionCode": "const linkedInUrls = $node['Merge'].json.linkedInUrls;\nconst batchIndex = $node['Split In Batches'].context.currentRunIndex;\nconst batchSize = 5;\nconst start = batchIndex * batchSize;\nconst end = Math.min(start + batchSize, linkedInUrls.length);\nconst batch = linkedInUrls.slice(start, end);\n\nreturn batch.map(url => ({\n  json: {\n    linkedin_url: url,\n    jobId: $node['Merge'].json.jobId,\n    apiKeys: $node['Merge'].json.apiKeys,\n    progressUrl: $node['Merge'].json.progressUrl,\n    completeUrl: $node['Merge'].json.completeUrl,\n    totalUrls: linkedInUrls.length,\n    batchIndex,\n    processed: start\n  }\n}));"
      },
      "name": "Prepare Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1600, 304],
      "id": "54dffe06-9539-4800-bcea-a6b8047349ad"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.magicalapi.com/v1/profile/linkedin",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.apiKeys.magicalApi }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "profile_url",
              "value": "={{ $json.linkedin_url }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "name": "MagicalAPI Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1824, 304],
      "id": "319831d2-4683-4e0c-b1e7-6d748e35bf05",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\nconst enrichedProfiles = [];\n\nitems.forEach(item => {\n  if (item.error) {\n    enrichedProfiles.push({\n      linkedin_url: item.json.linkedin_url,\n      error: 'MagicalAPI enrichment failed',\n      first_name: null,\n      last_name: null,\n      company: null,\n      title: null,\n      jobId: item.json.jobId,\n      apiKeys: item.json.apiKeys,\n      progressUrl: item.json.progressUrl,\n      completeUrl: item.json.completeUrl,\n      totalUrls: item.json.totalUrls\n    });\n  } else {\n    const profile = item.json;\n    enrichedProfiles.push({\n      linkedin_url: profile.profile_url || item.json.linkedin_url,\n      first_name: profile.first_name || profile.firstName,\n      last_name: profile.last_name || profile.lastName,\n      company: profile.company?.name || profile.company,\n      title: profile.headline || profile.title,\n      location: profile.location,\n      jobId: item.json.jobId,\n      apiKeys: item.json.apiKeys,\n      progressUrl: item.json.progressUrl,\n      completeUrl: item.json.completeUrl,\n      totalUrls: item.json.totalUrls,\n      batchIndex: item.json.batchIndex,\n      processed: item.json.processed\n    });\n  }\n});\n\nreturn enrichedProfiles.map(p => ({ json: p }));"
      },
      "name": "Extract Profile Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [2048, 304],
      "id": "6c3988d0-fe6e-4cd3-8e36-c85d46c5bce4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.progressUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jobId",
              "value": "={{ $json.jobId }}"
            },
            {
              "name": "step",
              "value": "magical_enrichment"
            },
            {
              "name": "processed",
              "value": "={{ $json.processed + $input.all().length }}"
            },
            {
              "name": "total",
              "value": "={{ $json.totalUrls }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Progress Update - MagicalAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2272, 304],
      "executeOnce": true,
      "id": "31dd9d4d-7f58-4581-9ba3-a04166f9d766"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "name": "Split In Batches - Prospeo",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [1376, 500],
      "id": "1db0d3a6-d304-4779-b163-ee1c19f2333c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.prospeo.io/email-finder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-KEY",
              "value": "={{ $json.apiKeys.prospeo }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $json.first_name }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.last_name }}"
            },
            {
              "name": "domain",
              "value": "={{ $json.company }}"
            }
          ]
        },
        "options": {
          "timeout": 12000
        }
      },
      "name": "Prospeo Email Finder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1600, 500],
      "id": "a0091f00-d60c-4f4c-89b4-697c11ce8f86",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\nconst profilesWithEmail = [];\n\nitems.forEach(item => {\n  const profile = { ...item.json };\n\n  if (item.error || !item.json.email) {\n    profile.email = null;\n    profile.email_status = 'not_found';\n  } else {\n    profile.email = item.json.email;\n    profile.email_status = item.json.status || 'found';\n  }\n\n  profilesWithEmail.push(profile);\n});\n\nreturn profilesWithEmail.map(p => ({ json: p }));"
      },
      "name": "Extract Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1824, 500],
      "id": "557f278b-a41c-42ed-a148-f3a03f89e100"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.progressUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jobId",
              "value": "={{ $json.jobId }}"
            },
            {
              "name": "step",
              "value": "prospeo_enrichment"
            },
            {
              "name": "processed",
              "value": "={{ $node['Split In Batches - Prospeo'].context.currentRunIndex * 10 + $input.all().length }}"
            },
            {
              "name": "total",
              "value": "={{ $json.totalUrls }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Progress Update - Prospeo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2048, 500],
      "executeOnce": true,
      "id": "3ee88814-19b5-4f62-8125-e39eea01f9e5"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Filter Non-Empty Emails",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [1376, 696],
      "id": "a1c49609-a7d9-4020-9e4b-e11ba7fb9333"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "name": "Split In Batches - Reoon",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [1600, 696],
      "id": "b6e4bca5-6b87-4883-b1c5-5f3f684df11e"
    },
    {
      "parameters": {
        "url": "=https://api.reoon.com/v1/verify?email={{ encodeURIComponent($json.email) }}&api_key={{ $json.apiKeys.reoon }}&mode=POWER",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Reoon Verification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1824, 696],
      "id": "c6a29664-4f42-4fef-81e2-170f829c09d2",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\nconst verifiedProfiles = [];\n\nitems.forEach(item => {\n  const profile = { ...item.json };\n\n  if (item.error) {\n    profile.verification_status = 'unknown';\n    profile.is_deliverable = false;\n  } else {\n    const status = item.json.status?.toLowerCase();\n\n    if (status === 'valid' || status === 'deliverable') {\n      profile.verification_status = 'deliverable';\n      profile.is_deliverable = true;\n    } else if (status === 'risky') {\n      profile.verification_status = 'risky';\n      profile.is_deliverable = false;\n    } else {\n      profile.verification_status = 'invalid';\n      profile.is_deliverable = false;\n    }\n  }\n\n  verifiedProfiles.push(profile);\n});\n\nreturn verifiedProfiles.map(p => ({ json: p }));"
      },
      "name": "Extract Verification Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [2048, 696],
      "id": "9262e756-3805-4189-94b5-233c201a3dda"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.progressUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jobId",
              "value": "={{ $json.jobId }}"
            },
            {
              "name": "step",
              "value": "reoon_verification"
            },
            {
              "name": "processed",
              "value": "={{ $node['Split In Batches - Reoon'].context.currentRunIndex * 10 + $input.all().length }}"
            },
            {
              "name": "total",
              "value": "={{ $json.totalUrls }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Progress Update - Reoon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2272, 696],
      "executeOnce": true,
      "id": "d3332c88-5a02-4f5a-a6df-87744fbf13a1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "all_profiles",
        "options": {}
      },
      "name": "Aggregate All",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1824, 892],
      "id": "83eeb340-1aa0-4c02-b37b-c99977fa1cfa"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_deliverable }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Filter Deliverable Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [2048, 892],
      "id": "6d00e3f3-449f-44ed-845f-274db46b817a"
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\nconst deliverable = items.filter(p => p.json.is_deliverable);\n\nconst allProfiles = $node['Aggregate All'].json.all_profiles || [];\nconst invalid = allProfiles.filter(p => !p.is_deliverable && p.email).length;\nconst noEmail = allProfiles.filter(p => !p.email).length;\n\nconst stats = {\n  total: allProfiles.length,\n  deliverable: deliverable.length,\n  invalid: invalid,\n  no_email: noEmail,\n  successRate: allProfiles.length > 0\n    ? Math.round((deliverable.length / allProfiles.length) * 100)\n    : 0\n};\n\nreturn [{\n  json: {\n    profiles: deliverable.map(p => p.json),\n    stats,\n    jobId: items[0]?.json?.jobId,\n    progressUrl: items[0]?.json?.progressUrl,\n    completeUrl: items[0]?.json?.completeUrl\n  }\n}];"
      },
      "name": "Calculate Statistics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [2272, 892],
      "id": "3ce87165-f839-4d9c-9ae0-680bfa43a866"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.progressUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jobId",
              "value": "={{ $json.jobId }}"
            },
            {
              "name": "step",
              "value": "filtering"
            },
            {
              "name": "processed",
              "value": "={{ $json.stats.deliverable }}"
            },
            {
              "name": "total",
              "value": "={{ $json.stats.total }}"
            },
            {
              "name": "percentage",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "name": "Progress Update - Filtering",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2496, 892],
      "id": "e1bf5268-816f-4458-a4a2-ad79287b3a1e"
    },
    {
      "parameters": {
        "functionCode": "const profiles = $json.profiles;\n\nconst headers = ['Name', 'Title', 'Company', 'Email', 'LinkedIn URL', 'Location'];\nconst rows = profiles.map(p => [\n  `${p.first_name || ''} ${p.last_name || ''}`.trim(),\n  p.title || '',\n  p.company || '',\n  p.email || '',\n  p.linkedin_url || '',\n  p.location || ''\n]);\n\nconst csvContent = [\n  headers.join(','),\n  ...rows.map(row => row.map(cell => `\"${cell}\"`).join(','))\n].join('\\n');\n\nreturn [{\n  json: {\n    csvContent,\n    csvBase64: Buffer.from(csvContent).toString('base64'),\n    fileName: `leads_${$json.jobId}.csv`,\n    stats: $json.stats,\n    jobId: $json.jobId,\n    completeUrl: $json.completeUrl\n  }\n}];"
      },
      "name": "Generate CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [2720, 892],
      "id": "02628893-3d4d-463c-8914-a7f71bebfb94"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.completeUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jobId",
              "value": "={{ $json.jobId }}"
            },
            {
              "name": "downloadUrl",
              "value": "=data:text/csv;base64,{{ $json.csvBase64 }}"
            },
            {
              "name": "stats",
              "value": "={{ JSON.stringify($json.stats) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Completion Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2944, 892],
      "id": "50de298e-c5cb-47ab-aaac-7625a5cd29e2"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "IF Source Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Source Type": {
      "main": [
        [],
        [
          {
            "node": "Parse LinkedIn URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn URLs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Prepare Batch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches - Prospeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Batch": {
      "main": [
        [
          {
            "node": "MagicalAPI Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MagicalAPI Enrichment": {
      "main": [
        [
          {
            "node": "Extract Profile Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Profile Data": {
      "main": [
        [
          {
            "node": "Progress Update - MagicalAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress Update - MagicalAPI": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches - Prospeo": {
      "main": [
        [
          {
            "node": "Prospeo Email Finder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter Non-Empty Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prospeo Email Finder": {
      "main": [
        [
          {
            "node": "Extract Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Data": {
      "main": [
        [
          {
            "node": "Progress Update - Prospeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress Update - Prospeo": {
      "main": [
        [
          {
            "node": "Split In Batches - Prospeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Non-Empty Emails": {
      "main": [
        [
          {
            "node": "Split In Batches - Reoon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches - Reoon": {
      "main": [
        [
          {
            "node": "Reoon Verification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reoon Verification": {
      "main": [
        [
          {
            "node": "Extract Verification Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Verification Status": {
      "main": [
        [
          {
            "node": "Progress Update - Reoon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress Update - Reoon": {
      "main": [
        [
          {
            "node": "Split In Batches - Reoon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All": {
      "main": [
        [
          {
            "node": "Filter Deliverable Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Deliverable Only": {
      "main": [
        [
          {
            "node": "Calculate Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Statistics": {
      "main": [
        [
          {
            "node": "Progress Update - Filtering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress Update - Filtering": {
      "main": [
        [
          {
            "node": "Generate CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate CSV": {
      "main": [
        [
          {
            "node": "Completion Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
